<!--{% extends 'base.html' %}-->

{% block posts %}

{% for post in posts %}
    Post added: {{ post.blogpost_date }}
    <a href="/post/{{ post.id }}/"><h4>{{ post.blogpost_title }}</h4></a>
    <p>{{ post.blogpost_text }}</p>
    <p><a href="/post/likeme/{{ post.id }}/"><span class="glyphicon glyphicon-heart">{{ post.blogpost_likes }}</span></a></p>
    <hr/>


              <!--<div class="row">-->
                <!--<div class="col-xs-9">-->
                  <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.-->
                  <!--Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis-->
                  <!--dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.-->
                  <!--Aliquam in felis sit amet augue.</p>-->
                  <!--<p class="lead"><button class="btn btn-default">Read More</button></p>-->
                  <!--<p class="pull-right"><span class="label label-default">keyword</span> <span class="label label-default">tag</span> <span class="label label-default">post</span></p>-->
                  <!--<ul class="list-inline"><li><a href="#">2 Days Ago</a></li><li><a href="#"><i class="glyphicon glyphicon-comment"></i> 4 Comments</a></li><li><a href="#"><i class="glyphicon glyphicon-share"></i> 34 Shares</a></li></ul>-->
                  <!--</div>-->
              <!--</div>-->
              <!--<br><br>-->
          <!--<hr>-->
{% endfor %}

{% endblock %}